@charset "utf-8";
/* CSS Document */
.largeModal {
	width: 85% !important;
	height: 90% !important;
	margin: 25px auto  !important;
	padding: 0 !important;
	max-width:none !important;

} 
.fullscreenModal {
	width: 100% !important;
	height: 100% !important;
	margin: 0px   !important;
	padding: 0 !important;
	max-width:none !important;

}

.modal-content {
	height: auto !important;
/*	min-height: 100% !important;*/
/*     background-color: #fff !important */
}
.case-open{
	min-height: 100% !important;
}
.modal.left .modal-dialog {
	position: fixed;
	margin: auto;
	width: 750px;
	height: 100%;
	min-height: 100% !important;
	max-height: 550px !important;
	-webkit-transform: translate3d(750px, 0, 0);
		-ms-transform: translate3d(750px, 0, 0);
		 -o-transform: translate3d(750px, 0, 0);
			transform: translate3d(750px, 0, 0);
}
.no-radius{
		border-radius: 0px;
}
.modal.left {
	height: 100%;
	min-height: 100% !important;
	overflow-y: auto;
}

.modal.left  {
/*		padding: 15px 15px 80px;*/
}

/*Left*/
.modal.left.fade {
	left:-750px;
	-webkit-transition: opacity 0.5s linear, left 0.3s ease-out;
	   -moz-transition: opacity 0.5s linear, left 0.3s ease-out;
		 -o-transition: opacity 0.5s linear, left 0.3s ease-out;
			transition: opacity 0.5s linear, left 0.3s ease-out;
}

.modal.left.fade.in {
	left: 0;
}

